body {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: Regular;
	font-family: "Roboto Regular";
}

h1.main-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: Medium;
	font-family: "Roboto Medium";
}

h2.content-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	font-family: "Roboto Bold";
}